/*MAIN*/
*{margin:0px;padding:0px;}

body{background-color:#FFF; margin:0px; padding:0px;}

#outer{width:900px; height:auto; margin:0 auto;}

#header{
	float:left;
	width:900px;
	height:152px;
	border-bottom:6px solid #bdbdbd;
}

#header_left{
	float:left;
	width:178px;
	height:137px;
}
#backtomainsite{
	float:left;
	width:178px;
	height:15px;
	padding-bottom:10px;
}

#logo_main{
	float:left;
	width:178px;
	height:112px;
}

#icon_mdg{
	float:left;
	width:348px;
	height:67px;
	margin-left:374px;
	text-align:right;
}

#header_title{
	float:left;
	width:364px;
	height:45px;
	padding-top:30px;
	padding-left:10px;
}

#dropdown_choosecommunity{
	float:left;
	width:348px;
	height:35px;
	text-align:right;
	padding-top:40px;
}

#site_content_1{
	float:left;
	width:900px;
	height:auto;
}

#left_sidebar{
	float:left;
	width:154px;
	height:auto;
}

/*MENU*/
#menu{
	float:left;
	width:154px;
	height:auto;
	padding-bottom:20px;
}

ul.MenuBarVertical{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: 154px;
}

ul.MenuBarActive{
	z-index: 1000;
}

ul.MenuBarVertical li{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 154px;
	height:47px;
	border-bottom:1px dotted #a6a6a6;
}

ul.MenuBarVertical ul{
	margin: 0 0 0 95%;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: absolute;
	z-index: 1020;
	cursor: default;
	width: 8.2em;
	left: -1000em;
	top: 0;
}

ul.MenuBarVertical ul.MenuBarSubmenuVisible{
	left: 0;
}

ul.MenuBarVertical ul li{
	width: 8.2em;
}

ul.MenuBarVertical a{
	display: block;
	cursor: pointer;
	background-color: #FFF;
	padding: 1.2em 0.75em;
	color: #585858;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration: none;
}

ul.MenuBarVertical a:hover, ul.MenuBarVertical a:focus{
	background-color: #c30000;
	color: #FFF;
}

ul.MenuBarVertical a.MenuBarItemHover, ul.MenuBarVertical a.MenuBarItemSubmenuHover, ul.MenuBarVertical a.MenuBarSubmenuVisible{
	background-color: #c30000;
	color: #FFF;
}

ul.MenuBarVertical a.MenuBarItemSubmenu{
	background-image:url(../images/SpryMenuBarRight.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

ul.MenuBarVertical a.MenuBarItemSubmenuHover{
	background-image: url(../images/SpryMenuBarRightHover.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

/*******************************************************************************

 BROWSER HACKS: the hacks below should not be changed unless you are an expert

 *******************************************************************************/

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarVertical iframe{
	position: absolute;
	z-index: 1010;
	filter:alpha(opacity:0.1);
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection{
	ul.MenuBarVertical li.MenuBarItemIE{
		display: inline;
		f\loat: left;
		background: #FFF;
	}
}
/*END OF MENU*/

#btn_signin{
	float:left;
	width:154px;
	height:40px;
	padding-bottom:8px;
	border-bottom:6px solid #bdbdbd;
}

#follow_us{
	float:left;
	width:154px;
	height:auto;
}

#right_content{
	float:left;
	width:733px;
	height:auto;
	border-left:1px solid #bdbdbd;
	padding-left:12px;
}

#footer{
	float:left;
	width:900px;
	height:auto;
	border-top:6px solid #bdbdbd;
	padding:10px 0px 20px;
	text-align:center;
}

#keyword_bg{
	width:554px;
	height:auto;
	margin:0 auto;
	text-align:left;
}

#keyword_corners{
	float:left;
	width:16px;
	height:16px;
}

#keyword_top{
	float:left;
	width:522px;
	height:13px;
	border-top:3px solid #151515;
	background-color:#FFF;
}

#keyword_bottom{
	float:left;
	width:522px;
	height:13px;
	border-bottom:3px solid #151515;
	background-color:#FFF;
}

#keyword_content{
	float:left;
	width:524px;
	height:auto;
	padding:0px 12px;
	border-left:3px solid #151515;
	border-right:3px solid #151515;
	background-color:#FFF;
}
/*END OF MAIN*/

/*INDEX.PHP*/
#index_aboutus{
	float:left;
	width:733px;
	height:314px;
	padding:25px 0px 15px;
}

#index_aboutus_title{
	float:left;
	width:733px;
	height:50px;
	text-align:center;
}

#index_aboutus_text{
	float:left;
	width:428px;
	height:264px;
	padding-right:5px;
}

#index_aboutus_img{
	float:left;
	width:300px;
	height:264px;
}

#index_howtoissue{
	float:left;
	width:733px;
	height:392px;
	padding-bottom:20px;
}

#index_howtoissue_title{
	float:left;
	width:723px;
	height:25px;
	padding-top:6px;
	padding-left:10px;
	background-color:#cd0000;
}

#index_howtoissue_description{
	float:left;
	width:733px;
	height:35px;
	padding:17px 0px 17px;
}

#index_howtoissue_steps_img{
	float:left;
	width:183px;
	height:292px;
	padding-right:15px;
	text-align:center;
}

#index_howtoissue_steps_text{
	float:left;
	width:265px;
	height:292px;
}

#index_howtoissue_cellphone_img{
	float:left;
	width:270px;
	height:292px;
	text-align:center;
}

#index_issuemaptracking{
	float:left;
	width:733px;
	height:448px;
	padding-bottom:15px;
}

#index_issuemaptracking_map{
	float:left;
	width:733px;
	height:351px;
	padding-top:10px;
}

#index_issuemaptracking_btn{
	float:left;
	width:733px;
	height:33px;
	text-align:right;
	padding-top:23px;
}

#index_news{
	float:left;
	width:361px;
	height:auto;
	padding-right:6px;
}

#index_news_article{
	float:left;
	width:361px;
	height:auto;
	padding:10px 0px;
}

#index_resources{
	float:left;
	width:361px;
	height:auto;
	padding-left:5px;
}

#index_resources_video{
	float:left;
	width:205px;
	height:171px;
	padding-top:10px;
}

#index_resources_textandbtn{
	float:left;
	width:146px;
	height:auto;
	padding-top:10px;
	padding-left:10px;
}

#index_newsandresources_title{
	float:left;
	width:351px;
	height:25px;
	padding-top:6px;
	padding-left:10px;
	background-color:#cd0000;
}
/*END OF INDEX.PHP*/

/*ABOUTUS.PHP*/
#aboutus{
	float:left;
	width:733px;
	height:auto;
	padding:20px 0px;
}
/*END OF ABOUTUS.PHP*/

/*MAINCONTACTUS.PHP*/
#maincontactus_box{
	float:left;
	width:733px;
	height:auto;
	padding-bottom:15px;
}

#maincontactus_text{
	float:left;
	width:200px;
	height:auto;
	text-align:right;
	padding-right:10px;
}

#maincontactus_input{
	float:left;
	width:523px;
	height:auto;
}
/*END OF MAINCONTACTUS.PHP*/

/*MAINRESOURCES.PHP*/
#main_resources_box{
	float:left;
	width:733px;
	height:auto;
	padding:15px 0px 15px;
	border-bottom:1px solid #666;
}

#main_resources_video{
	float:left;
	width:350px;
	height:250px;
	padding-right:10px;
}
/*END OF MAINRESOURCES.PHP*/

/*SUB PAGES*/
#sub_content_1{
	float:left;
	width:733px;
	height:auto;
	padding:20px 0px;
	border-bottom:6px solid #bdbdbd;
}

#sub_aboutus{
	float:left;
	width:361px;
	height:auto;
	padding-right:6px;
}

#sub_message{
	float:left;
	width:361px;
	height:auto;
	padding-left:5px;
}

#sub_bg_message{
	float:left;
	width:359px;
	height:218px;
	border:1px solid #eda8a8;
	background-color:#ffefe6;
}

#sub_bg_message_header{
	float:left;
	width:349px;
	height:29px;
	padding-top:8px;
	padding-left:10px;
	background-color:#cd0000;
}

#sub_message_content{
	float:left;
	width:329px;
	height:161px;
	padding:10px;
}

#sub_message_img{
	float:left;
	width:155px;
	height:154px;
	padding:0px 5px 5px 0px;
}

#sub_message_img_border{
	float:left;
	width:155px;
	height:154px;
	border:1px solid #cfcfcf;
	background-color:#333;
}

#sub_bg_currentissues{
	float:left;
	width:238px;
	height:75px;
	background-image:url(../images/sub/bg_current_issue.jpg);
	padding:8px 103px 8px 20px;
}

#sub_bg_currentissues_2{
	float:left;
	width:238px;
	height:51px;
	background-image:url(../images/sub/bg_current_issue_2.jpg);
	padding:20px 103px 20px 20px;
}

#sub_howtoissue_box{
	float:left;
	width:361px;
	height:268px;
	border:1px solid #c2c2c2;
}

#sub_howtoissue_bg_header{
	float:left;
	width:361px;
	height:25px;
	text-align:center;
	background-image:url(../images/sub/bg_header_content.jpg);
	padding-top:6px;
}

#sub_howtoissue_img{
	float:left;
	width:139px;
	height:211px;
	text-align:center;
	padding:13px 0px;
}

#sub_howtoissue_text{
	float:left;
	width:202px;
	height:211px;
	padding:13px 20px 13px 0px;
}
/*END OF SUB PAGES*/

/*SUB ABOUT US PAGES*/
#sub_aboutus_page{
	float:left;
	width:691px;
	height:auto;
	border:1px solid #f2dfd4;
	background-color:#ffefe6;
	padding:20px;
}

#sub_aboutus_page_img{
	float:left;
	width:165px;
	height:165px;
	padding-right:10px;
}

#sub_aboutus_page_border{
	float:left;
	width:163px;
	height:163px;
	border:1px solid #f0d4c4;
	background-color:#333;
}
/*END OF SUB ABOUT US PAGES*/

/*CLASSES*/
.text_1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#5c5c5c;
}

.text_2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#dd0000;
}

.text_3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#3d3d3d;
}

.text_4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#d30000;
}

.text_5{
	font-family:Myriad Pro, Arial, Helvetica, sans-serif;
	font-size:38px;
	font-weight:bold;
	color:#cd0000;
}

.text_6{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:normal;
	color:#1a1a1a;
}

.text_7{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#1a1a1a;
}

.text_8{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
}

.text_9{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#4a4949;
}

.text_10{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#cd0000;
}

.text_11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	font-style:italic;
	color:#5c5c5c;
}

.text_12{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:italic;
	color:#4a4949;
}

.text_13{
	font-family:Myriad Pro, Arial, Helvetica, sans-serif;
	font-size:38px;
	font-weight:bold;
	color:#7a7a7a;
}

.text_14{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
	color:#1a1a1a;
}

.text_15{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#cd0000;
}

.text_16{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#cd0000;
}

.text_17{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#4c4c4c;
}

.text_18{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#4c4c4c;
}

.text_19{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
	color:#4c4c4c;
}

.link_1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#4a4949;
	text-decoration:none;
}

.link_1:hover{
	color:#999;
	text-decoration:none;
}

.link_2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#6f6f6f;
	text-decoration:underline;
}

.link_2:hover{
	color:#000;
}

.link_3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#cd0000;
	text-decoration:none;
}

.link_3:hover{
	color:#F00;
	text-decoration:underline;
}

.link_4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#cd0000;
	text-decoration:none;
}

.link_4:hover{
	color:#F00;
	text-decoration:underline;
}

.input_1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	font-style:italic;
	color:#4f4f4f;
	border:1px solid #bdbdbd;
	padding:5px;
}

.btn_1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	background-image:url(../images/bg_btn_signin.jpg);
	width:154px;
	height:40px;
	border:0px;
	cursor:pointer;
}

.btn_2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333;
	background-color:#CCC;
	border:1px solid #999;
	cursor:pointer;
	padding:5px;
}
/*END OF CLASSES*/